<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="saxon9he-api" publicKeyToken="e1fdd002d5083fe6" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-9.7.0.21" newVersion="9.7.0.21" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="saxon9he" publicKeyToken="e1fdd002d5083fe6" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-9.7.0.21" newVersion="9.7.0.21" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
         </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>