<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" allowedVersions="[5.2.3,6)" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Build.Tasks.Git" version="1.0.0" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.SourceLink.Common" version="1.0.0" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.SourceLink.GitHub" version="1.0.0" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="Saxon-HE" version="9.9.1.5" targetFramework="net46" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net461" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net461" />
  <package id="Xcst.Compiler" version="0.122.0" targetFramework="net461" allowedVersions="[0.122,0.123)" />
  <package id="Xcst.Runtime" version="0.122.0" targetFramework="net461" allowedVersions="[0.122,0.123)" />
</packages>