<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="Saxon-HE" version="9.7.0.21" targetFramework="net46" />
  <package id="Xcst.Compiler" version="0.106.0" targetFramework="net46" allowedVersions="[0.106,0.107)" />
  <package id="Xcst.Runtime" version="0.106.0" targetFramework="net46" allowedVersions="[0.106,0.107)" />
</packages>