<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" allowedVersions="[1.0.0.0,2)" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="Saxon-HE" version="9.6.0.8" targetFramework="net46" />
  <package id="Xcst.Compiler" version="0.34.0" targetFramework="net46" allowedVersions="[0.34,0.35)" />
  <package id="Xcst.Runtime" version="0.34.0" targetFramework="net46" />
</packages>